@page
@model IndexModel
@{    
    ViewData["Title"] = "Bartek Staniecko";
}

<div class="jumbotron">
    <center><h1>Hello, friend! This is my lame website! :)</h1></center>
    <center><p class="lead">It looks like it was ripped straight from the 90s :D</a></p></center>
    <center><p class="lead">Open my<a href="http://20.84.71.126/" target="_blank"> Curriculum Vitae</a></center>
</div>
