@page
@model IndexModel
@{    
    ViewData["Title"] = "Bartek Staniecko home page";
}

<div class="jumbotron">
    <h1>Hello, friend! This is my website! :)</h1>
    <p class="lead">And here is my CV!</a></p>
    <center><p>Open my<a href="http://20.84.71.126/"> CV</a> ></center>
</div>
